ion-item {
    --inner-padding-bottom: 15px;
    --inner-padding-top: 15px;

}

* {
    font-size: 25px;
}

ion-toolbar {
    --min-height:60px;
}

ion-content {
    --background: #444444;
}

ion-item {
    --background: #444444;
    color: white;
}

