<ion-header>
  <ion-toolbar>
    <ion-title>Need any help? I got you.</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides pager="true" [options]="slideOpts">
        <ion-slide>
          <div>
              <p></p>
              <h1>Hi - I'm Daisy, and I'm here to help you.</h1>
              <img src="../../../assets/Daisy_Tutorial1.gif"/>
              <p>First of all - after you have logged in, please complete the truck pre-check in order to confirm that various features of the truck are in proper working order. </p>
          </div>
        </ion-slide>
        <ion-slide>
            <div>
                <h2>Starting the Truck</h2>
                <img src="../../../assets/Daisy_Tutorial2.gif"/>
                <p style="font-size:small;">Video courtesy of Nissan</p>
                <p>Once you have confirmed that it is safe to drive your Rocla forklift, please confirm that the select lever is placed in neutral position and the parking brake is set, as shown above. Then, insert the key into the keyswitch and start the engine.</p>
            </div>
        </ion-slide>
        <ion-slide>
            <div class="last-div">
                <h2>During and After Your Ride</h2>
                <p>Use the task list screen to receive instructions from your manager.</p>
                <p>When it is time to dismount the forklift, apply the parking break and confirm the select lever is in neutral. Lastly, you can turn the key switch off and remove the key.</p>
                <ion-button (click)="goToLogin()" expand="block">I'm ready to go!</ion-button>
            </div>
        </ion-slide>
      </ion-slides>
</ion-content>
