 h2 {
    margin-top: 2.8rem;
  }

.swiper-slide {
    display: block;
}

img {
    max-height: 40%;
    max-width: 40%;
    margin: 36px 0;
}

p{
    margin: 40px;
}

ion-button {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5%;
}

.last-div{
    margin-top:30%;
}