 h2 {
    margin-top: 2.8rem;
  }

.swiper-slide {
    display: block;
}

img {
    max-height: 40%;
    max-width: 40%;
    margin: 36px 0;
}

p{
    margin: 40px;
}

.last-div{
    margin-top:30%;
}

* {
    font-size: 25px;
}

ion-title {
    text-align: center;
}

ion-button {
    font-size: 30px;
    --padding-bottom: 30px;
    --padding-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 5%;
}