ion-toolbar {
    --min-height:60px;
}

* {
    //font-size: 25px;
}

ion-item {
    --inner-padding-bottom: 15px;
    --inner-padding-top: 15px;
    --background: #444444;
    color: white;
}

ion-list {
    background-color: #444444;
}

ion-card {
    --background: #444444;
    --color: white;
}

ion-card-title{
    --color: white;
}
