ion-header {
    text-align: center;
}

ion-content{
    --background: #202020;
}

ion-card {
   // text-align: center;
    width: 70%;
    height: 400px;
    margin-top: 20%;
    margin-left: 15%;
    margin-right: 15%;
    background-color: #f7f7f7;
}

#pin-input {
    text-align: left;
}

ion-card-content{
    display: grid;
    grid-template-columns: 1fr;
}

ion-input {
    height: 20%;
    width: 100%;
    font-size: 30px;

}

#login-button-container {
    margin-top:25%;
}