<ion-header>
  <ion-toolbar>
    <ion-title>Daisy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content overflow-scroll="false">

  <h1>DAISY</h1>
    <ion-card>
        <ion-card-header>
          <ion-card-title>Login</ion-card-title>
        </ion-card-header>
      
        <ion-card-content>
          <div id="pin-input">
              <form [formGroup]="myForm">
                  <ion-label position="floating">ID</ion-label>
                  <ion-input formControlName="pin" required="true" name="pin" placeholder="Please enter your ID" autofocus="true" clear-input="true" maxlength="5"></ion-input>
              </form>
          </div>
         
          <div id="login-button-container">
            <ion-button expand="block"[disabled]="pin.invalid" (click)="login()" >Log in</ion-button>
            <div class="danger" *ngIf="pinNotFound">
                Please enter a valid PIN.
            </div>
          </div>
          <div>
            <ion-checkbox color="primary" [(ngModel)]="form.tutorialChecked"></ion-checkbox>
          </div>
          </ion-card-content>
      </ion-card>
      <!--<ion-button class="tutorialButton" (click)="goToTutorial()" expand="block" fill="outline">Tutorial</ion-button>-->
</ion-content>
