<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>

            </ion-menu-button>
        </ion-buttons>
        <ion-title>Drivers</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="search($event)" animated showCancelButton="never"></ion-searchbar>
    <ion-grid>
        <ion-row *ngIf="!searchClicked">
            <ion-col *ngFor="let user of users" size="6">
                <ion-card (click)="navigateToUserDetail(user)">
                    <ion-card-header>
                        <ion-card-title>{{user.firstname}} {{user.lastname}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col>Hours today: 50%</ion-col>
                                <ion-col>Collisions today: 0</ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="searchClicked">
            <ion-col *ngFor="let user of resultArr" size="6">
                <ion-card (click)="navigateToUserDetail(user)">
                    <ion-card-header>
                        <ion-card-title>{{user.firstname}} {{user.lastname}}</ion-card-title>
                    </ion-card-header>
                    <ion-card-content>
                        <ion-grid>
                            <ion-row>
                                <ion-col>Hours today: 50%</ion-col>
                                <ion-col>Collisions today: 3</ion-col>
                            </ion-row>
                        </ion-grid>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>