<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button>

            </ion-menu-button>
        </ion-buttons>
        <ion-title>Drivers</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-searchbar (ionInput)="search($event)" animated showCancelButton="never"></ion-searchbar>
    <ion-list *ngIf="!searchClicked">
        <ion-item *ngFor="let user of users">
            <ion-label (click)="navigateToUserDetail(user)">{{user.firstname}} {{user.lastname}}</ion-label>
        </ion-item>
    </ion-list>
    <ion-list *ngIf="searchClicked">
        <ion-item *ngFor="let user of resultArr">
            <ion-label (click)="navigateToUserDetail(user)">{{user.firstname}} {{user.lastname}}</ion-label>
        </ion-item>
    </ion-list>
</ion-content>