<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button color="danger" (click)="logout()">Log out</ion-button>
    </ion-buttons>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <ion-input placeholder="Threshold in m/s^2" type="number" [(ngModel)]="selfDefinedThreshold"
          id="selfDefinedThreshold" class="inputfield"></ion-input>
      </ion-col>
      <ion-col size="6">
        <ion-input placeholder="Interval in s" type="number" [(ngModel)]="selfDefinedInterval" id="selfDefinedInterval"
          class="inputfield"></ion-input>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6">
        <ion-button (click)="startListening()" color="medium" [disabled]="listeningStarted" expand="default">Start Listening</ion-button>
      </ion-col>
      <ion-col size="6">
        <ion-button (click)="stopListening()" color="medium" [disabled]="listeningStopped" expand="default">Stop Listening</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-slides #mySlider pager="true" [pager]="false">
    <ion-slide>
      <div>
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <b>Order Number:</b> 0735
                    </ion-col>
                    <ion-col>
                      <b>Picklist:</b> 0095057
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <b>Line Location:</b> PGSUB1
                    </ion-col>
                    <ion-col>
                      <b>Location:</b> HOSE Tilt B1
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <b>Pick Location:</b>
                    </ion-col>
                    <ion-col>
                      <b>Item Number:</b>
                    </ion-col>
                    <ion-col>
                      <b>Quantity:</b>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      1M01
                    </ion-col>
                    <ion-col>
                      623342
                    </ion-col>
                    <ion-col>
                      1
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <b>Order Number:</b> 0735
                    </ion-col>
                    <ion-col>
                      <b>Picklist:</b> 0095057
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <b>Line Location:</b> PGSUB1
                    </ion-col>
                    <ion-col>
                      <b>Location:</b> HOSE Tilt B1
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <b>Pick Location:</b>
                    </ion-col>
                    <ion-col>
                      <b>Item Number:</b>
                    </ion-col>
                    <ion-col>
                      <b>Quantity:</b>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      1M01
                    </ion-col>
                    <ion-col>
                      623342
                    </ion-col>
                    <ion-col>
                      1
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-slide>
    <ion-slide>
      <div>
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <b>Order Number:</b> 0735
                    </ion-col>
                    <ion-col>
                      <b>Picklist:</b> 0095057
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <b>Line Location:</b> PGSUB1
                    </ion-col>
                    <ion-col>
                      <b>Location:</b> HOSE Tilt B1
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
        <ion-card>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      <b>Pick Location:</b>
                    </ion-col>
                    <ion-col>
                      <b>Item Number:</b>
                    </ion-col>
                    <ion-col>
                      <b>Quantity:</b>
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
              <ion-item>
                <ion-grid>
                  <ion-row>
                    <ion-col>
                      1M01
                    </ion-col>
                    <ion-col>
                      623342
                    </ion-col>
                    <ion-col>
                      1
                    </ion-col>
                  </ion-row>
                </ion-grid>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </div>
    </ion-slide>
  </ion-slides>

  <ion-button expand="block" (click)="swipeNext()">Done</ion-button>
  <div class="container">
    <img src="../../../assets/WarehouseMap_new.gif" />
    <ion-button class="special-button" (click)="presentEmergencyAlert()" color="danger" expand="default">Emergency
    </ion-button>
    <ion-button class="special-button" (click)="presentReportAlert()" color="medium" expand="default">Report
    </ion-button>
  </div>
</ion-content>