ion-toolbar {
    --min-height:60px;
}

ion-title {
    font-size: 25px;
}

p{
    font-size:50px;
    color: gray;
}

ion-card {
    font-size: 80px;
    --color: white !important;
}

ion-button {
    font-size: 20px;
    --padding-bottom: 10px;
    --padding-top: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.container {
    text-align: center;
}

.special-button {
    width: 45%;
}

img{
    width: 90%;
}

div {
    width: 99%;
}

ion-col {
    color: white;
    //padding: 15px;
}

ion-item {
    --background: #333333;

}

ion-list {
    padding-top: 0;
    padding-bottom: 0;
    //margin-top: 8px;
    //margin-bottom: 8px;
}

ion-card-content{
    background-color: #222222;
}

ion-icon {
    align-self: center;
    font-size: 70px;
    height:70px;
    margin-left:45%;
    //margin-top: 10%;
}

.listening {
    --margin-top: 10px;
}