<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button>

      </ion-menu-button>
    </ion-buttons>
    <ion-title>Orders</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-button expand="block">Report a problem</ion-button>
    <ion-icon name="battery-full"></ion-icon>

    <p>Pick up pallet EA392</p>
    <p>Bring it to isle 45 shelf 75A</p>
    <!--<ion-button color="danger" id="emergencyButton"expand="block">Emergency</ion-button>-->

</ion-content>
