ion-content{
    --background: #EFEFEF;
}

* {
    font-size: 25px;
}

h1 {
    font-size: 80px;
    color: #56A88A;
    text-align: center
}

ion-card {
    background-color: #f7f7f7;
    font-size: 80px;
}

.truck-card {
    background-color: #A2CFBF;
}

.custom-card-label {
    font-size: 25px;
}

p {
    margin-bottom: 15px;
    font-size: 25px;
}

ion-toolbar {
    --min-height:60px;
}

img {
    max-height: 15%;
    max-width: 15%;
    margin: 20px;
}

ion-button{
    margin-left: 15px;
    margin-right: 15px;
}