ion-content{
    --background: #202020;
}

h1 {
    font-size: 80px;
    color: #56A88A;
    text-align: center
}

ion-card {
    background-color: #f7f7f7;
}

.truck-card {
    background-color: #A2CFBF;
}

.custom-card-label {
    font-size: 25px;
}

p {
    margin-bottom: 15px;
    font-size: 15px;
}

ion-button {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 5%;
}
