<ion-header>
    <ion-toolbar>
        <ion-buttons slot="secondary">
          <ion-button>
            <ion-icon slot="icon-only" name="ios-battery-charging"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Pre-check</ion-title>
      </ion-toolbar>
</ion-header>


<ion-content>
      <h2>{{truck?.name}}</h2>
      <div class="container">
          <img id="truckImage" src="../../../assets/lifttruck.png"/>
      </div>

        <ion-button (click)="goToOrders()" expand="block">Ready to go</ion-button>

        <ion-card>
            <ion-item>
                <ion-label class="custom-card-label">Engine</ion-label>
              </ion-item>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                      <ion-label>Loud noises</ion-label>
                      <ion-checkbox slot="start"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                      <ion-label>Does not turn on</ion-label>
                      <ion-checkbox slot="start"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                      <ion-label>Oil is leaking</ion-label>
                      <ion-checkbox slot="start"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Other</ion-label>
                        <ion-input placeholder="Please enter details" clear-input="true"></ion-input>
                    </ion-item>
                    <img class="defectImage" *ngIf="checkItemsPictureTaken[0]"[src]="base64Images[0]"/>
                    <ion-button (click)="takePicture(0)" expand="block" fill="outline">
                      <ion-icon name="camera" slot="start"></ion-icon>
                      Take Photo
                    </ion-button>
                  </ion-list>
            </ion-card-content>
          </ion-card>

          <ion-card>
              <ion-item>
                  <ion-label class="custom-card-label">Fork</ion-label>
                </ion-item>
              <ion-card-content>
                  <ion-list>
                      <ion-item>
                        <ion-label>Fork bent</ion-label>
                        <ion-checkbox slot="start"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                        <ion-label>Fork missing</ion-label>
                        <ion-checkbox slot="start"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                        <ion-label>Fork does not move</ion-label>
                        <ion-checkbox slot="start"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                          <ion-label position="floating">Other</ion-label>
                          <ion-input placeholder="Please enter details" clear-input="true"></ion-input>
                      </ion-item>
                      <img class="defectImage" *ngIf="checkItemsPictureTaken[1]"[src]="base64Images[1]"/>
                      <ion-button (click)="takePicture(1)" expand="block" fill="outline">
                        <ion-icon name="camera" slot="start"></ion-icon>
                        Take Photo
                      </ion-button>
                    </ion-list>
              </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-item>
                    <ion-label class="custom-card-label">Bodywork</ion-label>
                  </ion-item>
                <ion-card-content>
                    <ion-list>
                        <ion-item>
                          <ion-label>Scratch in bodywork</ion-label>
                          <ion-checkbox slot="start"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                          <ion-label>Bodywork bent</ion-label>
                          <ion-checkbox slot="start"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Other</ion-label>
                            <ion-input placeholder="Please enter details" clear-input="true"></ion-input>
                        </ion-item>
                        <img class="defectImage" *ngIf="checkItemsPictureTaken[2]"[src]="base64Images[2]"/>
                        <ion-button (click)="takePicture(2)" expand="block" fill="outline">
                          <ion-icon name="camera" slot="start"></ion-icon>
                          Take Photo
                        </ion-button>
                      </ion-list>
                </ion-card-content>
              </ion-card>

                <ion-card>
                    <ion-item>
                        <ion-label class="custom-card-label">Other</ion-label>
                      </ion-item>
                    <ion-card-content>
                        <ion-label position="floating">Comment</ion-label>
                        <ion-input placeholder="Please enter details" clear-input="true"></ion-input>
                        <img class="defectImage" *ngIf="checkItemsPictureTaken[3]"[src]="base64Images[3]"/>
                    <ion-button (click)="takePicture(3)" expand="block" fill="outline">
                      <ion-icon name="camera" slot="start"></ion-icon>
                      Take Photo
                    </ion-button>
                    </ion-card-content>
                  </ion-card>
</ion-content>
