<ion-header>
    <ion-toolbar>
        <ion-buttons slot="secondary">
          <ion-button>
            <ion-icon slot="icon-only" name="ios-battery-charging"></ion-icon>
          </ion-button>
        </ion-buttons>
        <ion-title>Hi {{user.firstname}}</ion-title>
      </ion-toolbar>
</ion-header>


<ion-content>

      <ion-card class="truck-card">
          <ion-card-header>
            <ion-card-subtitle>Today you are driving</ion-card-subtitle>
            <ion-card-title>{{truck.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <p>Please check the vehicle for the following defects:</p>
            <ion-list>
                <ion-item>
                  <ion-label>Loud noises from the engine</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Damaged fork</ion-label>
                </ion-item>
                <ion-item>
                  <ion-label>Damage to the bodywork</ion-label>
                </ion-item>
              </ion-list>
          </ion-card-content>
        </ion-card>

        <ion-button (click)="goToOrders()" expand="block">Ready to go</ion-button>

        <ion-card>
            <ion-item>
                <ion-checkbox color="primary" slot="end"></ion-checkbox>
                <ion-label class="custom-card-label">Engine</ion-label>
              </ion-item>
            <ion-card-content>
                <ion-list>
                    <ion-item>
                      <ion-label>Loud noises</ion-label>
                      <ion-checkbox slot="start"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                      <ion-label>Does not turn on</ion-label>
                      <ion-checkbox slot="start"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                      <ion-label>Oil is leaking</ion-label>
                      <ion-checkbox slot="start"></ion-checkbox>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">Other</ion-label>
                        <ion-input placeholder="Please enter details" clear-input="true"></ion-input>
                    </ion-item>
                    <img *ngIf="checkItemsPictureTaken[0]"[src]="base64Images[0]"/>
                    <ion-button (click)="takePicture(0)" expand="block" fill="outline">
                      <ion-icon name="camera" slot="start"></ion-icon>
                      Take Photo
                    </ion-button>
                  </ion-list>
            </ion-card-content>
          </ion-card>

          <ion-card>
              <ion-item>
                  <ion-checkbox color="primary" slot="end"></ion-checkbox>
                  <ion-label class="custom-card-label">Fork</ion-label>
                </ion-item>
              <ion-card-content>
                  <ion-list>
                      <ion-item>
                        <ion-label>Fork bent</ion-label>
                        <ion-checkbox slot="start"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                        <ion-label>Fork missing</ion-label>
                        <ion-checkbox slot="start"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                        <ion-label>Fork does not move</ion-label>
                        <ion-checkbox slot="start"></ion-checkbox>
                      </ion-item>
                      <ion-item>
                          <ion-label position="floating">Other</ion-label>
                          <ion-input placeholder="Please enter details" clear-input="true"></ion-input>
                      </ion-item>
                      <img *ngIf="checkItemsPictureTaken[1]"[src]="base64Images[1]"/>
                      <ion-button (click)="takePicture(1)" expand="block" fill="outline">
                        <ion-icon name="camera" slot="start"></ion-icon>
                        Take Photo
                      </ion-button>
                    </ion-list>
              </ion-card-content>
            </ion-card>

            <ion-card>
                <ion-item>
                    <ion-checkbox color="primary" slot="end"></ion-checkbox>
                    <ion-label class="custom-card-label">Bodywork</ion-label>
                  </ion-item>
                <ion-card-content>
                    <ion-list>
                        <ion-item>
                          <ion-label>Scratch in bodywork</ion-label>
                          <ion-checkbox slot="start"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                          <ion-label>Bodywork bent</ion-label>
                          <ion-checkbox slot="start"></ion-checkbox>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">Other</ion-label>
                            <ion-input placeholder="Please enter details" clear-input="true"></ion-input>
                        </ion-item>
                        <img *ngIf="checkItemsPictureTaken[2]"[src]="base64Images[2]"/>
                        <ion-button (click)="takePicture(2)" expand="block" fill="outline">
                          <ion-icon name="camera" slot="start"></ion-icon>
                          Take Photo
                        </ion-button>
                      </ion-list>
                </ion-card-content>
              </ion-card>

                <ion-card>
                    <ion-item>
                        <ion-checkbox color="primary" slot="end"></ion-checkbox>
                        <ion-label class="custom-card-label">Other</ion-label>
                      </ion-item>
                    <ion-card-content>
                        <ion-label position="floating">Comment</ion-label>
                        <ion-input placeholder="Please enter details" clear-input="true"></ion-input>
                    </ion-card-content>
                  </ion-card>
</ion-content>
